.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
form{
  width: 350px;
  height: 250px;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 5px;
}

input{
  margin: 8px;
  height: 30px;
  border-radius: 5px;
}
label{
  font-weight: bold;
}
button{
  margin: 10px;
  text-align: center;
  height: 30px;
  width: 80px;
  border-radius: 5px;
}
.child{
  border-radius: 5px;
  background-color: yellow;
  height: 300px;
  width: 300px;
  padding: 10px;
}
h2{
  align-items: center;
  display: flex;
  margin-left: 100px;
}