.parent{
    display: flex;
    background-color: whitesmoke;
    height: 100vh;
    width:100vw;
}
.child1{
    height: 100vh;
    width: 15vw;
    background-color: yellow;
}
.child2{
    display: flex;
}

